<div class="key"></div>
<p class="byline brandon">Get early access</p>
<%= form_for @user, :class => "form-inline", :url => { :action => "create" } do |f| %>
  <div class="inline-form">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-4" style="padding:0">
        <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon form-control" %>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-1" style="padding:0">
        <button type="submit" class="submit brandon" name="commit" value="Join the club">Submit</button>
      </div>
    </div>
  </div>
<% end %>