 <div class="row hero container-fluid">
     <div class="col-md-3 col-sm-6 col-xs-10" style="padding-top: 100px;">
         <h1>Black Edition</h1>
         <p class="small brandon">The creators of smart luggage are launching their next product</p>
     </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>